include time.pug
doctype html
html(lang="en")
  head
    if seo.sitename
      title!=attributes.title + " | " + seo.sitename
    else
      title=attributes.title
    meta(name="description", content=attributes.description)
    if site.url
      meta(property="og:url", content!=site.url + "/" + path)
    meta(property="og:type", content="article")
    meta(property="og:title", content=attributes.title)
    meta(property="og:description", content=attributes.description)
    meta(property="article:published_time", content!=toISODate(attributes.date))
    if seo.author
      meta(property="article:author", content=seo.author)
    if attributes.featuredImage
      meta(property="og:image", content=attributes.featuredImage)
    include head.pug
  body.hidden
    include nav.pug
    main
      article
        div.header
            a(href="/essays/" + path) #[h2=attributes.title]
            div.meta #[+time(attributes.date)]
            //- Anthronomicon Seal SVG
            svg(width="23", height="27", viewBox="0 0 23 27", fill="none")
              path(d="M21.2843 13.1765C21.2843 20.8608 17.4718 25.1765 11.5887 25.1765C5.70549 25.1765 1.89301 20.8608 1.89301 13.1765C1.89301 5.49228 5.70549 1.17651 11.5887 1.17651C17.4718 1.17651 21.2843 5.49228 21.2843 13.1765Z", stroke="#B3B3B3", stroke-width="2")
              path(d="M11.7154 9.99129L11.7161 6.93599C11.7162 6.33349 10.9799 6.10664 10.6675 6.62182C9.83497 7.99466 8.8103 9.96823 8.8103 11.3655V12.1586C8.8103 13.7637 10.1115 15.0644 11.7166 15.0644C13.3216 15.0644 14.6228 13.7631 14.6228 12.158V11.8939C14.6228 10.8659 14.2134 9.54137 13.983 8.87759C13.9245 8.709 13.6995 8.69206 13.6122 8.84767L12.8098 10.2775C12.6443 10.5724 12.2638 10.6658 11.9806 10.4811C11.8151 10.3731 11.7153 10.1889 11.7154 9.99129Z", fill="#B3B3B3")
              path(d="M7.49341 17.2652C7.49341 17.0408 7.67533 16.8589 7.89974 16.8589H15.2776C15.502 16.8589 15.684 17.0408 15.684 17.2652V17.2652C15.684 19.5093 13.8328 21.3285 11.5887 21.3285V21.3285C9.3446 21.3285 7.49341 19.5093 7.49341 17.2652V17.2652Z", fill="#B3B3B3")
        div.content
            | !{body}
    include footer.pug
